@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

/* SIDE-BAR */
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 2px 0 80px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

body {
    height: 100vh;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #333;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* MAIN */
.main {
    margin-left: 160px;
}

/* NAVBAR */
.navbar {
    overflow: hidden;
    box-shadow: 0px 5px 80px #222;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar h3 {
    float: left;
    display: block;
    color: #222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar h3:hover {
    background-color: #ddd;
    color: black;
}

.navbar h3.active {
    background-color: #444;
    color: white;
}

.outlet {
    margin-top: 200px;
    height: 100vh;
}

/* PLAYER */
.player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

/* FILTER-BOX */
.filter-box {
    display: flex;
    padding: 2px;
    width: 100%;
    position: fixed;
    margin: 0;
    top: 100px;
}

.filter-item {
    flex: 1;
}

.filter-input {
    padding: 20px;
}

/* MAP */
.map-container {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}
